html
  head
    title= "aergo on tap"
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="/static/styles/main.css")
  body
    #content
      #logo
      p= "Success! We added your account to the queue. Tokens will be sent in about " + expectedWaitingFormatted + "."
      div
        a.btn(href=aergoscanUrl) View Account on Aergoscan
